@tailwind base;
@tailwind components;
@tailwind utilities;

/* .Slider-bar{
    padding: 1em 3em;
} */

/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap'); */

@font-face {
    font-family: outfit;
    src: url(../public/fonts/Outfit/static/Outfit-Regular.ttf);
}

*{
    font-family: outfit, Arial, sans-serif;

}
#root {
    display: flex;
    min-height: 100vh;
    animation: fadin 2s ;
}

@keyframes fadin {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.main .greet span {
    background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Cards::-webkit-scrollbar{
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fill, minmax(180px,1fr)); */
    /* grid-row: 4; */
    /* grid-column: 4; */
    /* gap: 15px;
    padding: 20px; */
    /* overflow: hidden; */
    /* flex-wrap: nowrap; */
    display: none;
    
}

.main .Card{
    height: 200px;
    padding: 15px;
    background-color: #f0f4f9;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}
.main .Card img{
    width: 35px;
    padding: 5px;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
}

.main .Card p {
    color:  #585858;
    font-size: 17px;
}
.main .Card:hover{
    background-color: #dfe4ea;
}

.search-box img{
    width: 1.5em;
    cursor: pointer;
    display: flex;
}
.result::-webkit-scrollbar{
    display: none;
}
.loader {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.loader hr{
    border-radius: 4px;
    border: none;
    background-color: #f6f7f8;
    background: linear-gradient(to right , #9ed7ff, #ffffff , #9ed7ff);
    background-size: 800px 50px;
    height: 20px;
    animation: loader 2s infinite linear;

}
.Slider-bar .Recent{
    animation: fadin 1.5s;
}
.Slider-bar .recent-title{
    animation: fadin 1.5s;
}

@keyframes loader {
    0%{
        background-position: -800px 0px;
    }
    100%{
        background-position: 800px 0px;
    }
}

@media (max-width:600px){
    .Slider-bar{
        display: none;
    }
    .main-bottom input{
        flex:  none;
        width: 150px;
    }
    .main-bottom img{
        width: 25px;
    }
    .search-box{
        padding: 5px 10px;
    }
    .search-box div{
        gap: 5px;
    }
    /* .main .Cards{
    display:  flex ;
    flex-direction: row;
    width: 90vw;
    max-width: 30em;
    } */
    
}